<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="Utilities.Listeners"/>
        <listener class-name="Utilities.ExtentReporterNG"/>
    </listeners>
        
  <test thread-count="5" name="Test">
    <classes>
   	  <class name="Tests.ApiDemoApp_Gestures"/> 
      <class name="Tests.GeneralStoreApp_Tests"/>
      <class name="Tests.ApiDemoApp_SimpleTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
